#tree li span {
                border-radius: 0px;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                text-decoration: none
            }
            #tree li ul li span {
                border-top: none;
                border-bottom: none;
            }
                #tree li.parent_li > span {
                    cursor: pointer
                }

        #tree > ul > li::before, .tree > ul > li::after {
            border: 0
        }

        #tree li:last-child::before {
            height: 30px
        }

        #tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
            background: #eee;
            color: #000
        }